@import 'normalize.scss';

/****** Colors *********/
$blue: #009be2;

/****** Basic style *********/

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'ProximaNova', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 300px;
}

div, p, input, button, form, span, a, ul, li {
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.7rem;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 700 bold;
  text-transform: uppercase;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.title {
   color: #000;
   text-align: center;
}

p {
  line-height: 1.65em;
}

.btn {
  color: #000;
  background: #e2e2e2;
  border: none;
  padding: 5px 10px;
  margin: 5px 3px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.5s, color 0.5s;
  outline: none;
  &:hover {
    background: $blue;
    color: #fff;
  }
}

/****** Wrapper *********/

.wrapper {
  .type {
    background: #fbfbfb;
    text-align: center;
    padding: 30px 0px;
    .buttons {
      width: 765px;
      margin: 0 auto;
    }
  }
  .object {
    .title {
      padding: 40px 0;
    }
    img {
    display: block;
    margin: 0 auto;
    width: 800px;
    }
    .description {
      color: #66bae0;
      text-align: center;
      font-weight: bold;
      margin: 0px 0px 40px 0px;
    }
  }
}

/****** Formula *********/

.formula {
  background: $blue;
  padding: 40px 0px;
  .title {
    width: 700px;
    margin: 0 auto;
    color: #fff;
    letter-spacing: 1.5px;
  }
  .line {
    width: 520px;
    height: 1.5px;
    background: #fff;
    margin: 0 auto;
  }
  .description {
    text-align: center;
    color: #fff;
  }
  span {
    color: #004c76;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}

/****** Kinds *********/

.kinds {
  padding: 40px 0px;
  .cards {
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    .card {
      padding: 30px;
      width: 400px;
      margin-left: 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      h4 {
        color: #0099de;
      }
      h5 {
        color: #696969;
        width: 220px;
        line-height: 17px;
        margin-top: 15px;
      }
      .structure {
        margin: 20px 0px;
        display: flex;
        .line {
          background: $blue;
          height: 130px;
          width: 3px;
        }
        .description {
          margin-left: 10px;
          p {
            font-size: 14px;
            color: #778489;
            margin: 0;
          }
          span {
            color: #40b3e6;
            font-size: 14px;
            display: block;
            margin-top: -4px;
            padding-bottom: 8px;
          }
        }
      }
      p,li {
          color: #778489;
          line-height: normal;
      }
      li {
        padding-bottom: 10px;
      }
      ul li::before {
        content: "\2022";
        color: $blue;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
  .buttons {
    width: 765px;
    margin: 0 auto;
    text-align: center;
  }
}


/****** Responsive *********/

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .kinds {
    .cards {
      display: block;

      .card {
        margin: 30px auto;
        width: 500px;
      }
    }
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
  .wrapper {
    .type {
      .buttons{
        width: auto
      }
    }
    .object {
      img {
        width: inherit;
      }
    }
  }
  .kinds {
    .buttons {
      width: auto;
    }
  }
  .formula {
    .title {
      width: auto;
    }
    .line{
      width: auto;
    }
  }
  .kinds {
    .cards {
      display: block;
      .card {
        width: auto;
        img {
          width: 90%;
        }
      }
    }
  }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
}
